@import url("./vars.css");
@import url("./result.css");
@import url("./summary.css");

@font-face {
  font-family: "HankenGrotesk-Medium";
  src: url("../fonts/static/HankenGrotesk-Medium.ttf");
}
@font-face {
  font-family: "HankenGrotesk-Bold";
  src: url("../fonts/static/HankenGrotesk-Bold.ttf");
}
@font-face {
  font-family: "HankenGrotesk-ExtraBold";
  src: url("../fonts/static/HankenGrotesk-ExtraBold.ttf");
}

* {
  box-sizing: border-box;
}
html {
  font-size: var(--default-size);
  font-family: "HankenGrotesk-Medium";
}
body {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  main {
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    width: 80%;
    box-shadow: 0px 10px 15px -3px hsla(224, 30%, 27%, 0.06),
      0px 10px 15px 7px hsla(224, 30%, 27%, 0.06);
  }
}
@media (min-width: 1024px) {
  main {
    width: 51%;
    border-radius: 1.3rem;
  }
}
